[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
python-json-config = "*"
pytest = "*"
xmltodict = "*"
pycryptodomex = "*"
macwifi = "*"

[requires]
python_version = "3.10"
